.form-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-container > * {
    width: 100%;
}

.form-devider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-serie{
    margin-top: 10px;
}