<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">FichApp</h1>

    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list class="sidenav-list">
                <a mat-list-item routerLink="/professor">
                    <mat-icon>person</mat-icon>
                    <span class="ml-2">Perfil</span>
                </a>
                <a mat-list-item routerLink="/aluno">
                    <mat-icon>assignment_ind</mat-icon>
                    <span class="ml-2">Aluno</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="container-fluid pt-3">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>