<mat-card-title>Série {{ serie$.nome }}</mat-card-title>
<mat-card-subtitle>Prescreva os exercícios</mat-card-subtitle>


<mat-divider></mat-divider>

<mat-accordion *ngFor="let exercicio of serie$.exercicios; let i = index" class="mx-1">

    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ i + 1 }}. {{ exercicio.nome ? exercicio.nome : 'Clique para prescrever o exercicio...' }}
            </mat-panel-title>
            <mat-panel-description>
                {{ exercicio.repeticao ? exercicio.repeticao : '' }}
                {{ exercicio.intervalo ? '/ ' + exercicio.intervalo : '' }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-exercicio-form [exercicio]="exercicio"></app-exercicio-form>

        <mat-card-actions>
            <button mat-raised-button color="warn" aria-label="Icon remove" (click)="remove(exercicio.id)">
                REMOVER
            </button>
            <button mat-raised-button color="primary" aria-label="Icon remove" (click)="nextExercise()">
                PRÓXIMO
            </button>
        </mat-card-actions>
    </mat-expansion-panel>

</mat-accordion>

<button mat-fab aria-label="Icon check" color="primary" class="md-fab-bottom-right" [routerLink]="['/']">
    <mat-icon>check</mat-icon>
</button>